body {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column ;
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #202124;
}

.header {
  list-style-type: none;
  /* margin: 10px; */
  overflow: hidden;
  /* margin-right: 16px; */
  font-family: arial,sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: row-reverse;
  padding: 6px;
}

.headerli a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.headerli a:hover {
  text-decoration: underline;
}

.pic {
  background-size: 32px 32px;
  border: 0;
  border-radius: 50%;
  display: block;
  margin: 0px;
  position: static;
  height: 32px;
  width: 32px;
  z-index: 0;
}

.container {
  text-align: center;
  margin: 10px;
  min-height: 92px;
  position: static;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 584px;
}

.search-area:hover {
-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.24);
box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.19);
border: 1px solid transparent;
}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
  border: none ;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.search-mic {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-mic span {
  height: 20px;
  width: 20px;
}
.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
}

.buttons {
  text-align: center;
  margin-top: 18px;
}
.googlesearch {
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;
  border-radius: 4px;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 36px;
}

.feelinglucky {
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;
  border-radius: 4px;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 36px;
}
.button:hover {
  /* border-color: rgb(118, 118, 118) ; */
  color: black;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}


nav {
  margin-right: 10px;
  margin-top: 0;
}

footer {
  justify-content: space-evenly;
}

.footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
  background-color: #f2f2f2;
}

.footerli {
  float: left;
  list-style-type: none;
}

.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;
}
